%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

[
 {kernel, [
           {logger_level, debug}
]},
 {nova, [
         {cowboy_configuration, #{port => 8080}},
         {dev_mode, true},
         {bootstrap_application, http_api_demo}, %% Bootstraps the application
         %% Plugins is written on form {RequestType, Module, Options, Priority}
         %% Priority is that the lowest number is executed first
         {plugins, [
                    {pre_request, nova_correlation_plugin, #{}},
                    {pre_request, nova_request_plugin, #{decode_json_body => true, parse_bindings => true}},
                    {pre_request, nova_cors_plugin, #{allow_origins => [<<"http://127.0.0.1:5500">>]}}
                   ]}
        ]}
  %% Please change your app.src-file instead if you intend to add app-specific configurations
].
